{% load staticfiles %}

<!DOCTYPE html>

<html>

<head>
	<title>Tunelist</title>
    <link rel="stylesheet" type="text/css" href="{% static 'playlists/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'playlists/css/main.css' %}"/>
</head>

<body>

	{% include "playlists/header.html" %}

	<div class="jumbotron">
		<div class="container">
      <h1>{% block headertext %}{% endblock %}</h1>
			<p>
      {% block tagline %}{% endblock %}
			</p>
		</div>
	</div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-xs-12">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</body>


</html>
