{% load staticfiles %}

<!DOCTYPE html>
<html>

<head>
    <title>{{ username }}'s profile</title>
    <link rel="stylesheet" type="text/css" href="{% static 'playlists/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'playlists/css/main.css' %}"/>
</head>

<body>

    {% include "playlists/header.html" %}

    <div class="jumbotron">
        <div class="container">
            <h1>{{ username }}</h1>
        </div>
    </div>

    {% if form %}
        <div class="container">
            <form action="" method="post">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Submit" />
            </form>
        </div>
    {% endif %}

    <div class="container">
    {% if playlists %}
        {% for playlist in playlists %}
        <div class="col-md-6">
            <div class="playlist-info">
                <img src="https://i3.ytimg.com/vi/{{ playlist.song_set.first.yt_id }}/default.jpg">
                <h3><a href="{% url 'playlist' username playlist.pk %}">{{playlist.name}}</a></h3>
                &nbsp;
                {{ playlist.genre }}
                {% if form %}
                    <a class="right" href="{% url 'playlist_delete' username playlist.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    {% else %}
        <p>This user does not have any playlists</p>
    {% endif %}
    </div>
</body>

</html>
