body {
	padding-top: 51px;
}

.right {
	float: right;
}

.playlist-info > img,
.playlist-info > h3 {
	display: inline-block;
}

.playlist-info {
	margin-top: 20px;
	padding: 5px;
	line-height: 1.42857143;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;
	-webkit-transition: border .2s ease-in-out;
	   -o-transition: border .2s ease-in-out;
	      transition: border .2s ease-in-out;
}
